@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Playfair+Display');

body {
  font-family: 'Playfair Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gentium Book Basic', Georgia, serif;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.splash {
  width: 100%;
  position: relative;
}

.splash-button {
  visibility: hidden;
}

.bio-main {
  margin-top: 40px;

  .about {
    width: 50%;
    margin: auto;
    float: left;

    li {
      float: left;
      list-style-position: inside;
      list-style-type: disc;
      margin-right: 1em;

      span {
        position: relative;
        left: -15px;
      }
    }
  }

  .contact {
    width: 50%;
    display: inline-block;

    p {
      margin-bottom: 0px;
    }
  }

  /* center social icons */
  .social-icons {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: .3em;
    font-size: 2.5em;
  }
}

.bio, footer {
  margin: 10px;
}

.header-title {
  margin-top: 15px;
}

.header-subtitle {
  margin-top: -15px;
}

.header-portrait {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  float: left;

  img {
    display: inline;
    margin: 0 auto;
    width: 85%;
    height: auto;
  }
}

.portfolio {

  h2, h3, p {
    text-align: center;
  }

  h2, p {
    padding: 2% 5% 0% 5%;
  }

  .project {
    margin: 2%;

    .columns {
      padding: 0;
    }

    .project-description {
      background-color: #FEFEFE;
    }
  }
}

footer {
  padding: 20px 10px;
  background-color: #003756;

  p {
    color: #FEFEFE;
    margin: 0;
    text-align: center;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {

  .splash-button {
    visibility: visible;
    width: 23.7%;
    position: absolute;
    left: 38%;
    bottom: 40%;
    background:#7f7f7f;
    background:rgba(255,255,255,0.4);
    border: 3px solid #0078A0;
    border-radius: 5px;
    padding: 0px 3px;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
  }

  .divider {
    height: 45px;
  }

  .after-splash {
    width: 75%;
    margin: 0 auto;
  }

  .bio, footer {
    width: 100%;
    margin: 0 auto;
  }

  .header-title {
      margin-top: 5px;
  }

  .header-subtitle {
    margin-top: -15px;
  }

  .header-portrait {
    width: 125px;
    height: 125px;
  }

  .bio-main {
    .contact {
      .social-icons {
        font-size: 4em;
      }
    }
  }
}

.portfolio {
  padding: 3%;
  width: 95%;
  margin: 0 auto;

  .project {
    margin: 0;

    .right {
      float: right;
    }

    .left {
      float: left;
    }
  }
}

/* large and up */

@media screen and (min-width: 875px) {

  .splash-button {
    font-size: 36px;
  }
}
