@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Playfair+Display');

body {
  font-family: 'Playfair Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gentium Book Basic', Georgia, serif;
}

.wrapper {
  margin: 10px;
}

.header-title {
  margin-top: 15px;
}

.header-subtitle {
  margin-top: -15px;
}

.header-portrait {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  float: left;

  img {
    display: inline;
    margin: 0 auto;
    width: 85%;
    height: auto;
  }
}
