<div class="row">
  <div class="columns text-center">
    <h1>Micah Bales</h1>
    <h2>Full-Stack Web Developer</h2>
    <div class="header-portrait float-center" />
      <img class="header-portrait" src="/images/micah_bales_382x471.png" />
    </div>
  </div>
</div>
