<div class="row">
  <div class="columns small-1">
    <div class="header-portrait" />
      <img class="header-portrait" src="/images/micah_bales_382x471.png" />
    </div>
  </div>
  <div class="columns small-11 end">
    <h1 class="header-title" >Micah Bales</h1>
    <h2 class="header-subtitle" >Full-Stack Web Developer</h2>
  </div>
</div>
