<div class="splash">
  <img src="/images/micah_bales_desk_crop.jpg" class="splash-image" >
  <a href="#bio"><div class="splash-button">Learn More</div></a>
</div>

<div class="divider"></div>

<div class="after-splash">
  <div class="bio row clearfix" id="bio">
    <div class="bio-header">
      <div class="header-portrait" />
        <img class="header-portrait" src="/images/micah_bales_382x471.png" />
      </div>
      <h1 class="header-title">Micah Bales</h1>
      <h2 class="header-subtitle">Full-Stack Web Developer</h2>
    </div>

    <div class="bio-main">
      <div class="about column">
        <h4>About Micah</h4>
        <p>I'm a recent graduate of the Launch Academy full-stack web development program. I'm seeking a role as a junior web developer.</p>
        <p>In addition to dev skills, I bring experience in communications and advocacy. I play well with others, and I'm excited to join a creative, results-oriented team.</p>
        <h4>Specialities</h4>
        <ul>
          <li><span>Ruby/Rails</span></li>
          <li><span>Javascript</span></li>
          <li><span>HTML</span></li>
          <li><span>Sass/CSS</span></li>
          <li><span>PostgreSQL</span></li>
          <li><span>TDD</span></li>
        </ul>
      </div>
      <div class="contact column">
        <h4>Let's Talk</h4>
        <p>I am a believer in open source. I build in public. Check out my latest projects on GitHub, and reach out via email or social media:</p>
        <div class="social-icons">
          <a href="mailto:micahbales@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <a href="https://www.twitter.com/micahbales"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/micahbales/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.github.com/micahbales/"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/micahbales/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://stackoverflow.com/cv/micahbales"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="portfolio">
    <div class="row small-12">
      <div class="project row">
        <div class="large-6 columns left">
          <a href="https://quaker-crm.herokuapp.com/" target="_blank"><img src="/images/quaker_crm.jpg" /></a>
        </div>
        <div class="large-6 columns right project-description">
          <h2>QuakerCRM</h2>
          <h3><em>(Ruby on Rails)</em></h3>
          <p>QuakerCRM is a free resource that allows Quaker leaders to keep track of the people, places, and relationships that hold their Meetings together.</p>
          <p>This project was built on Ruby on Rails, using RSpec/Capybara for unit and acceptance testing.</p>
          <p><a href="https://quaker-crm.herokuapp.com/" target="_blank">Visit the site live on Heroku</a>, and <a href="https://github.com/micahbales/quaker-crm" target="_blank">check out the project repository on GitHub</a>.</p>
        </div>
      </div>
      <div class="project row">
        <div class="large-6 columns right">
          <a href="/"><img src="images/quaker-maps.jpg" /></a>
        </div>
        <div class="large-6 columns left project-description">
          <h2>QuakerMaps</h2>
          <h3>(Javascript/Sinatra)</h3>
          <p>QuakerMaps is an interactive experience that allows visitors to explore the geography of 21st-century Quakerism and see how anyone can get involved.</p>
          <p>This project leverages the power of the Google Maps Javascript API to present dynamic views of the Quaker landscape, sorted by several criteria. Built on top of a streamlined Sinatra/Ruby backend, QuakerMaps uses AJAX and jQuery to deliver up fast and responsive results.</p>
          <p><a href="https://quaker-maps.herokuapp.com/" target="_blank">Visit the site live on Heroku</a>, and <a href="https://github.com/micahbales/quaker-maps" target="_blank">check out the project repository on GitHub</a>.</p>
        </div>
      </div>
      <div class="project row">
        <div class="large-6 columns left mask">
          <a href="https://www.github.com/micahbales"><img src="images/github.png" /></a>
        </div>
        <div class="large-6 columns right project-description">
          <h2>See all my work on GitHub</h2>
          <p>I'm currently working on a variety of projects - primarily in Ruby and HTML/CSS/Javascript.</p>
          <p><a href="https://www.github.com/micahbales">Take a peek at my codebase on GitHub</a>, and feel free to submit a pull request!</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
