<div class="bio-header">
  <div class="header-portrait" />
    <img class="header-portrait" src="/images/micah_bales_382x471.png" />
  </div>
  <h1 class="header-title" >Micah Bales</h1>
  <h2 class="header-subtitle" >Full-Stack Web Developer</h2>
</div>

<div class="bio-main">
  <div class="about">
    <h4>About</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
  </div>
  <div class="contact">
    <h4>Contact</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
  </div>
</div>
