<div class="row">
  <div class="columns text-center">
    <h1>Header 1 Text</h1>
    <h2>Header 2 Text</h2>
    <p class=”text-center”>Foundation works!</p>
    <a href="about.html" class="button">Learn More</a>
  </div>
</div>
