<div class="bio-header">
  <div class="header-portrait" />
    <img class="header-portrait" src="/images/micah_bales_382x471.png" />
  </div>
  <h1 class="header-title" >Micah Bales</h1>
  <h2 class="header-subtitle" >Full-Stack Web Developer</h2>
</div>

<div class="bio-main">
  <div class="about column">
    <h4>About</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
  </div>
  <div class="contact column">
    <h4>Contact</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
    <span class="social-icons">
      <a href="https://www.github.com/micahbales/"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/micahbales/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com/micahbales"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/micahbales/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="http://stackoverflow.com/cv/micahbales"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
    </span>
  </div>
</div>
