<div class="splash">
  <img src="/images/micah_bales_desk_crop.jpg" class="splash-image" >
  <a href="#bio"><div class="splash-button">Learn More</div></a>
</div>

<div class="bio row" id="bio clearfix">
  <div class="bio-header">
    <div class="header-portrait" />
      <img class="header-portrait" src="/images/micah_bales_382x471.png" />
    </div>
    <h1 class="header-title" >Micah Bales</h1>
    <h2 class="header-subtitle" >Full-Stack Web Developer</h2>
  </div>

  <div class="bio-main">
    <div class="about column">
      <h4>About Micah</h4>
      <p>I'm a recent graduate of the Launch Academy full-stack web development program. I'm seeking a role as a junior web developer.</p>
      <p>In addition to dev skills, I bring experience in communications and advocacy. I play well with others, and I'm excited to join a creative, results-oriented team.</p>
      <h4>Specialities</h4>
      <ul>
        <li><span>Ruby/Rails</span></li>
        <li><span>Javascript</span></li>
        <li><span>HTML</span></li>
        <li><span>Sass/CSS</span></li>
        <li><span>PostgreSQL</span></li>
        <li><span>TDD</span></li>
      </ul>
    </div>
    <div class="contact column">
      <h4>Contact</h4>
      <p>I am a believer in open source. I build in public. Check out my latest projects on GitHub, and reach out via email or social media:</p>
      <div class="social-icons">
        <a href="mailto:micahbales@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://www.twitter.com/micahbales"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/micahbales/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.github.com/micahbales/"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/micahbales/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="http://stackoverflow.com/cv/micahbales"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="portfolio">
  <div class="row small-12">
    <h1>My Work</h1>
    <div class="project row">
      <div class="large-4 large-offset-2 columns"><h3>Text Here</h3></div>
      <div class="large-4 large-offset-2 columns"><img src="http://placehold.it/250x250" /></div>
    </div>
    <div class="project row">
      <div class="large-4 large-offset-2 columns"><h3>Text Here</h3></div>
      <div class="large-4 large-offset-2 columns"><img src="http://placehold.it/250x250" /></div>
    </div>
    <div class="project row">
      <div class="large-4 large-offset-2 columns"><h3>Text Here</h3></div>
      <div class="large-4 large-offset-2 columns"><img src="http://placehold.it/250x250" /></div>
    </div>
  </div>
</div>
