@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Playfair+Display");
/* line 3, ../scss/portfolio.scss */
body {
  font-family: 'Playfair Display', sans-serif;
}

/* line 7, ../scss/portfolio.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gentium Book Basic', Georgia, serif;
}

/* line 11, ../scss/portfolio.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 23, ../scss/portfolio.scss */
.bio-main {
  margin-top: 40px;
  max-width: 1000px;
}
/* line 27, ../scss/portfolio.scss */
.bio-main .about {
  width: 50%;
  margin: auto;
  float: left;
}
/* line 33, ../scss/portfolio.scss */
.bio-main .contact {
  width: 50%;
  display: inline-block;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  /* line 41, ../scss/portfolio.scss */
  .header-title {
    margin-top: 15px;
  }

  /* line 45, ../scss/portfolio.scss */
  .header-subtitle {
    margin-top: -15px;
  }

  /* line 49, ../scss/portfolio.scss */
  .header-portrait {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    float: left;
  }
  /* line 57, ../scss/portfolio.scss */
  .header-portrait img {
    display: inline;
    margin: 0 auto;
    width: 85%;
    height: auto;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  /* line 69, ../scss/portfolio.scss */
  .main, footer {
    margin: 20px;
  }

  /* line 73, ../scss/portfolio.scss */
  .header-title {
    margin-top: 5px;
  }

  /* line 77, ../scss/portfolio.scss */
  .header-subtitle {
    margin-top: -15px;
  }

  /* line 81, ../scss/portfolio.scss */
  .header-portrait {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    float: left;
  }
  /* line 89, ../scss/portfolio.scss */
  .header-portrait img {
    display: inline;
    margin: 0 auto;
    width: 85%;
    height: auto;
  }
}
